#wrapper{
    width:960px;
    margin:0 auto;
    color:#777777;
    text-align: center;
    align-content: center;
}

#wrapper2{
    width:650px;
    background-color: #ffffff;
    text-align: center;
    margin:0 auto;
}

.name{
    color:white;
    background-color:#4aaaa5;
    width:340px;
    padding:20px;
}

body {
    text-align: center;
    font-size:24px;
    line-height: 32px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.myface{
width:300px;
float:left;
}

.sidebar{
    float:right;
    color:#777777;
    width:270px;
    background-color:#ffffff;
}

.connect{
    align-content: inline;
    text-align: center;
    float:right;
}

.connect img{
    width: 12;
    height: 12;
}


header {
  padding: 20px;
  margin-bottom: 20px;
  width:100%;
  background: #ffffff;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#4aaaa5;
}

h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#4aaaa5;
}

h3{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}


.footer {
    background-color:#666666;
    padding: 10px;
    margin-top: 20px;
    clear:both;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.containerport{
    width:960px;
}

#CodingBootcamp{
    margin:30px;
}

#Art{
    margin:30px;
}

#Travel{
    margin:30px;
}

.CodingBootcamp{

}

.Art{

}

.Travel{

}


.topnav {
    background-color: #ffffff;
    color:#777777;
    float:right;
    overflow: hidden;
    text-decoration: none;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
}

/* Add a color to the active/current link */